{% set title = "Main" %}
{% set route = "home" %}

{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}

  <div id="scroll-container" class="container custom">
    <button class="button" id="dark">Dark theme</button>
    <button class="button" id="light">Light theme</button>
    <h1 class="h1">Leonid Kostetskyi</h1>
    <div class="cols">
      <div class="img-wrapper img-1">
        <div data-color="#697164" data-visibility="1" data-pli class="img js-gl-img" data-src="v1626779588/lk_cases/4-c_rbvrbo.jpg"></div>
        <div class="img-text">Safe Haven</div>
      </div>
      <div class="img-wrapper img-2">
        <div data-color="#7996C4" data-visibility="1" data-pli class="img js-gl-img" data-src="v1626779589/lk_cases/2-c_wyxbvw.jpg"></div>
        <div class="img-text">Emotion Agency</div>
      </div>
      <div class="img-wrapper img-3">
        <div data-color="#C4BDA6" data-visibility="1" data-pli class="img js-gl-img" data-src="v1626779588/lk_cases/3-c_smazdn.jpg"></div>
        <div class="img-text">Roman Stets</div>
      </div>
    </div>
    <div class="cols">
      <div class="img-wrapper img-1">
        <div data-color="#697164" data-visibility="1" data-pli data-src="v1626779024/lk_cases/5-c_vveekl.jpg" class="img js-gl-img"></div>
        <div class="img-text">Metshrot</div>
      </div>
      <div class="img-wrapper img-2">
        <div data-color="#7996C4" data-visibility="1" data-pli data-src="v1626779589/lk_cases/6-c_rwdoci.jpg" class="img js-gl-img"></div>
        <div class="img-text">E-pass</div>
      </div>
      <div class="img-wrapper img-3">
        <div data-color="#C4BDA6" data-visibility="1" data-pli data-src="v1626779589/lk_cases/7-c_maoqnn.jpg" class="img js-gl-img"></div>
        <div class="img-text">TK KTL</div>
      </div>
    </div>
    <div class="cols">
      <div class="img-wrapper img-1">
        <div data-color="#697164" data-visibility="1" data-pli data-src="v1626779589/lk_cases/8-c_nmgbgz.jpg" class="img js-gl-img"></div>
        <div class="img-text">Bulbakh</div>
      </div>
      <div class="img-wrapper img-2">
        <div data-color="#7996C4" data-visibility="1" data-pli data-src="v1626779590/lk_cases/9-c_anusfs.jpg" class="img js-gl-img" ></div>
        <div class="img-text">Luxstamp</div>
      </div>
      <div class="img-wrapper img-3">
        <div data-color="#C4BDA6" data-visibility="1" data-pli data-src="v1626779589/lk_cases/10-c_uqcw36.jpg" class="img js-gl-img"></div>
        <div class="img-text">Greinplast</div>
      </div>
    </div>
    <div class="to"></div>
    <div class="noisy"></div>
    <div class="bg"></div>
  </div>
    <div class="loader"><span class="loader__percent">0%</span></div>
{% endblock %}