{% set title = "Main" %}
{% set route = "home" %}

{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}

  <div id="scroll-container" class="container custom">
    <div class="cols">
      <div class="img-wrapper img-1">
        <img data-color="#697164" data-visibility="1" data-second-image="./img/1-c.jpg" class="js-gl-img" src="./img/1.webp" alt="">
        <div class="img-text">Metshrot</div>
      </div>
      <div class="img-wrapper img-2">
        <img data-color="#7996C4" data-visibility="1" data-second-image="./img/2-c.jpg" class="js-gl-img" src="./img/2.jpg" alt="">
        <div class="img-text">Roman Stets</div>
      </div>
      <div class="img-wrapper img-3">
        <img data-color="#C4BDA6" data-visibility="1" data-second-image="./img/3-c.jpg" class="js-gl-img" src="./img/3.jpg" alt="">
        <div class="img-text">E-Pass</div>
      </div>
    </div>
  <div class="to"></div>
  </div>
  <input type="range" class="range" min="0" max="1" step="0.1" value="0">
{% endblock %}