{% set title = "Main" %}
{% set route = "home" %}

{% extends "layouts/_layout.html" %}
{% import "data/data.html" as items %}

{% block content %}

  <div id="scroll-container" class="container custom">
  <button class="button" id="dark">Dark theme</button>
  <button class="button" id="light">Light theme</button>
    <div class="cols">
      <div class="img-wrapper img-1">
        <div data-color="#697164" data-visibility="1" data-second-image="./img/4-c.jpg" class="img js-gl-img" data-src="./img/4-c.jpg"></div>
        <div class="img-text">Metshrot</div>
      </div>
      <div class="img-wrapper img-2">
        <div data-color="#7996C4" data-visibility="1" data-second-image="./img/2-c.jpg" class="img js-gl-img" data-src="./img/2.jpg"></div>
        <div class="img-text">Roman Stets</div>
      </div>
      <div class="img-wrapper img-3">
        <div data-color="#C4BDA6" data-visibility="1" data-second-image="./img/3-c.jpg" class="img js-gl-img" data-src="./img/3.jpg"></div>
        <div class="img-text">E-Pass</div>
      </div>
    </div>
  <div class="to"></div>
  <div class="noisy"></div>
  <div class="bg"></div>
  </div>
{% endblock %}